body {
  margin: 0;
  /* font-family: '', serif; */

  font-family: 'Poppins',"Merriweather"
}

body{
  background:rgba(251, 251, 251, 1) ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;